cogs/economy/__pycache__/gambling.cpython-39.pyc
cogs/misc/__pycache__/help.cpython-39.pyc
cogs/misc/__pycache__/item.cpython-39.pyc
cogs/misc/__pycache__/leaderboard.cpython-39.pyc
cogs/misc/__pycache__/settings.cpython-39.pyc
cogs/profile/__pycache__/bestiary.cpython-39.pyc
cogs/profile/__pycache__/bonuses.cpython-39.pyc
cogs/profile/__pycache__/collections.cpython-39.pyc
cogs/profile/__pycache__/inventory.cpython-39.pyc
cogs/profile/__pycache__/recipe.cpython-39.pyc
cogs/profile/__pycache__/skills.cpython-39.pyc
cogs/profile/__pycache__/use.cpython-39.pyc
cogs/skills/__pycache__/brewing.cpython-39.pyc
cogs/skills/__pycache__/cooking.cpython-39.pyc
cogs/skills/__pycache__/crafting.cpython-39.pyc
cogs/skills/__pycache__/farming.cpython-39.pyc
cogs/skills/__pycache__/fishing.cpython-39.pyc
cogs/skills/__pycache__/forage.cpython-39.pyc
cogs/skills/__pycache__/hunt.cpython-39.pyc
cogs/skills/__pycache__/mining.cpython-39.pyc
cogs/skills/__pycache__/scavenging.cpython-39.pyc
cogs/__pycache__/setup.cpython-39.pyc
cogs/data/tokens.json
